#config-div {
  display: flex;
  margin-left: 4em;
  margin-top: 1em; }
  #config-div * {
    margin-right: 0.6em; }

canvas {
  position: absolute;
  top: 4em;
  left: 5em;
  border: 1px solid black; }
